body {
	background: #222;
	text-align: center;
	padding: 0;
	margin: 0;
}

canvas {
	background: rgba(0, 0, 0, 1);
	margin: 1% auto;
	box-shadow: inset 0 0 60px black;
}

canvas.full {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}
