:root {
  --bg-color: #1f2227;
  --crt-flicker-1: #22252a;
  --crt-flicker-2: #202428;
  --crt-flicker-3: #1f2228;
  --main-text-color: #ffffff;
  --static-color: #3c424d;
}

@font-face {
  font-family: '712serif';
  src:  url('https://okaken.club/fonts/712_serif.ttf') format('ttf'),
  url('https://okaken.club/fonts/712_serif.woff') format('woff');
}
@font-face {
  font-family: 'karmaf';
  src: url(assets/fonts/karma.future-regular.otf);
}
@font-face {
  font-family: 'karmas';
  src: url(assets/fonts/karma.suture-regular.otf);
}
@font-face {
  font-family: 'mc';
  src: url(assets/fonts/mc.ttf);
}
@font-face {
  font-family: 'mini';
  src: url(assets/fonts/minisystem.otf);
}

* {
	cursor:url("https://okaken.club/img/landing/cursor/cursor.png"), auto;
}

*:focus {
    outline: none !important;
}

::selection {
	background: #4C4C4C;
	color:#c300ff;
}

body {
  background: var(--bg-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background {
  min-height: 100vh;
  color: var(--main-text-color);
}

.background::after {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 2px,
    rgba(0, 0, 0, 0.2) 2px,
    rgba(0, 0, 0, 0.2) 4px
  );
  background-size: 100% 4px;
  z-index: -1;
  content: "";
}
span, a, a:visited, a:active {
  color: #ffffff;
  font-family: "712serif", Courier, monospace;
  font-size: 1.3em;
  text-shadow: 0 0 1px #423030, 1px 1px 1px #1a1c00, 2px 1px 1px #00c3ff;
  text-decoration: none;
}
a.unvisited, a.unvisited:visited, a.unvisited:active{
  text-decoration: none;
  color: transparent;
}
a:hover {
  text-shadow:
  2px 1px 1px #ff0000,
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
#menu li{
  display:inline;
}
#playlist ol {
  border: 2px solid black;
  height: 200px;
  width: 300px;
  position: absolute;
  left: 10%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.23);
  overflow: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  display: none; /* initially hidden */
}

#playlist.show ol{
  display: block; /* show when toggled */
}


#playlist li {
  font-family: "712serif";
  counter-increment: item;

}
#playlist ol::-webkit-scrollbar {
  display: none;
}

.time, .play-pause {
  color: #ffffff;
  font-family: "712serif", Courier, monospace;
  font-size: 1.3em;
  text-shadow: 0 0 1px #423030, 1px 1px 1px #1a1c00, 2px 1px 1px #00c3ff;
  text-decoration: none;
}
.controls {
  position: absolute;
  display:inline;
}
#statbox {
  padding: 10px;
  left: 90%;
}
#content object {
  position:absolute;
  width: 100%;
  height: 100%;
  display: flexbox;
}
#document {
  width: 100%;
  height: 100%;
}
#staticeffect {
  margin: 0;
  position: absolute;
  top: 0;
  background: var(--static-color);
  opacity: 0.2;
  z-index: 98;
  pointer-events: none;
}
.pulse {
  animation-name: pulse-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: #00ff00;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.glow {
  animation-name: glow-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  color: #00ff00;
}

@keyframes glow-animation {
  0% {
    text-shadow: 0px 0px 10px rgba(255,255,255,1);
  }
  50% {
    text-shadow: 0px 0px 20px rgba(255,255,255,1);
  }
  100% {
    text-shadow: 0px 0px 10px rgba(255,255,255,1);
  }
}

@keyframes crt {
  28% {
    background: var(--bg-color);
  }
  30% {
    background: var(--crt-flicker-1);
  }
  33% {
    background: var(--crt-flicker-2);
  }
  34% {
    background: var(--crt-flicker-3);
  }
  35% {
    background: var(--bg-color);
  }
  78% {
    background: var(--bg-color);
  }
  80% {
    background: var(--crt-flicker-1);
  }
  83% {
    background: var(--crt-flicker-2);
  }
  84% {
    background: var(--crt-flicker-3);
  }
  85% {
    background: var(--bg-color);
  }
  91% {
    background: var(--crt-flicker-1);
  }
  92% {
    background: var(--crt-flicker-2);
  }
  95% {
    background: var(--crt-flicker-3);
  }
  97% {
    background: var(--bg-color);
  }
}