@font-face {
    font-family: 'vector';
    src: url(../fonts/TerminalVector.ttf);
  }
  @font-face {
    font-family: 'kosugi';
	src: url(../fonts/Kosugi-Regular.ttf);
  }
  @font-face {
	font-family: 'modenine';
	src: url(../fonts/Modenine.ttf);
	  }
	  @font-face {
		font-family: 'digital';
		src: url(../fonts/DS-DIGI.TTF);
		  }
		  @font-face {
			font-family: 'minecraft';
			src: url(../fonts/MinecraftRegular.otf);
			  }



/*Cursor*/
    /* Note: This example only works with Windows Insider Preview Builds 16237+ or the Fall Creators Update. */
/* Custom highlight color */
::selection {
  background-color: rgba(0, 0, 0, 0.8);
  color: #AAF;
}

/* Custom scrollbar color */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
    background-color: #AAF;
    border-radius: 5px;
    height: calc(100% / (100% / 100 - 5px / #scrollable-element-height#));
}

::-webkit-scrollbar-thumb:hover {
  background-color: #EEF;
}
::-webkit-scrollbar-corner {
  display: none;
  padding: 0;
  margin: 0;
}
a {
  color: #AAF;
  text-decoration: none;
}
a:hover {
  color: #EEF;
  text-decoration: none;
}
a:active {
  color: #AAF;
  text-decoration: none;
}
a:visited {
  color: #AAF;
  text-decoration: none;
}
body { 
  font-family: 'vector';
    display: grid;
    grid-template-areas: 
    "side section section"
    "side section section"
    "footer footer footer";
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 15% 1fr 18%;
    grid-gap: 5px;
  height: 100%;
  margin: 0; 
  padding: 0;
  background-color: black; 
  
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    grid-area: header;
    text-shadow: 0px 0px 16px #AAF;
    mix-blend-mode: lighten;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 32px #AAF;
  color: #EEF;
  font-family: 'vector';
}

side {
  background-color: rgba(0, 0, 0, 0.8);
  grid-area: side; 
  text-shadow: 0px 0px 16px #AAF;
  mix-blend-mode: lighten;
  border: 1px solid #FFF;
  box-shadow: 0px 0px 32px #AAF;
  color: #EEF;
  text-align: center;
  overflow-x: auto; /* horizontal overflow */
  overflow-y: scroll; /* vertical overflow */
  font-family: 'kosugi';
}

side fieldset {
	background-color: rgba(170, 170, 255, 0.13);
  border: #AAF 1px solid;
}
p {
  text-align: center;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}
.content {
    background-color: rgba(0, 0, 0, 0.8);
    grid-area: section;  
    text-shadow: 0px 0px 16px #AAF;
    mix-blend-mode: lighten;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 32px #AAF;  
  color: #EEF;
  overflow: scroll;
  font-family: 'vector';
}
.blogpost {
    background-color: rgba(0, 0, 0, 0.8);
    grid-area: section;  
    text-shadow: 0px 0px 16px #AAF;
    mix-blend-mode: lighten;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 32px #AAF;  
  color: #EEF;
  text-align: center;
} 
aside {
    background-color: rgba(0, 0, 0, 0.8);
    grid-area: aside; 
    text-shadow: 0px 0px 16px #AAF;
    mix-blend-mode: lighten;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 32px #AAF;
  color: #EEF;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    grid-area: footer;
    text-shadow: 0px 0px 16px #AAF;
    mix-blend-mode: lighten;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 32px #AAF;
  color: #EEF;
  font-size: small;
  word-wrap: break-word;
  text-align: center;
  overflow: scroll;
}

header, side, section, aside, footer {
    padding: 5px;
}
#son {
  color: rgba(57, 255, 20, 0.8);
  text-shadow: 0px 0px 16px green;
  font-family: "modenine";
}

#soff {
  color: red;
  text-shadow: 0px 0px 16px red;
  font-family: "modenine";
}
#ppl {
  color: rgb(0, 145, 255);
  text-shadow: 0px 0px 16px rgb(0, 145, 255);
}
h1 {
  font-size: 2em;
  padding: 0;
  margin: 0;
  font-family: 'lain';
}
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
	background-image:url('../img/animated-overlay.gif');
	opacity: 0.1;
  pointer-events: none;
}
#stars {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -90;
}
#invite {
  text-decoration: none;
}

.no-anim #static {
          display: none;
      }

      #static {
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 50;
          background-image: url("../img/static.gif");
          background-repeat: repeat;
          opacity: 0.03;
          pointer-events: none;
          animation: 0.5s StaticIn linear, 3s 0.5s StaticLoop linear alternate infinite;
      }

      #static.fireaway {
          animation: 3s okFuckOFF linear forwards;
      }

      @keyframes StaticIn {
          0%   { opacity: 1; }
          100% { opacity: 0.03; }
      }

      @keyframes StaticLoop {
          0%   { opacity: 0.03; }
          100% { opacity: 0.1; }
      }
      @keyframes pentagram-flip {
    from {
        fill: #rgb(170, 170, 255);
        stroke-dashoffset: 1832.365;
    }
    to {
        fill: #000;
        stroke-dashoffset: 0;
    }
}

.pentagram-container {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  animation: rotate 60s linear infinite;

}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pentagram-container svg {
  width: 100%;
  height: 100%;
}

#pentagram .pentagram {
  transform-origin: 50% 50%;
  animation: pentagram-flip 3s ease forwards;
  stroke-dashoffset: 1832.365;
  stroke-dasharray: 1832.365;
}
.pentagram-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/s.gif);
  opacity: 1;
}
        /* Style the marquee */
        .marquee {
    overflow: hidden;
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    pointer-events: none;
    /* Add your other styles here */
}
.marquee p {
            display: inline-block;
            margin: 0;
            padding-right: 50px;
            font-size: 20px;
            font-weight: bold;
            color: #AAf;
        }
.status {
	font-family: "modenine";
	font-size: 13px;
	color: #AAF;
}
.musicplayer {
	font-family: "modenine";
	font-size: 13px;
	color: #AAF;
}
.musicplayer a {
	color: #AAF;
	font-family: "modenine";
}
#track-info {
	font-family: "digital";
	font-size: 18px;
	color: rgb(155, 29, 29);
    box-shadow: 0px 0px 16px rgb(255, 0, 0);
	transform: skew(-20deg);
	overflow: none;
}
#player-controls {
	font-family: "digital";
	font-size: 17px;
	color: #AAF;
}
#player-controls a {
	font-family: "minecraft";
	font-size: 22px;
	color: #AAF;
}
#player-controls a:hover {
	color: #EEF;
  text-shadow: 0px 0px 16px #AAF;
}
#playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "modenine";
    font-size: 13px;
    color: #AAF;
    border: #AAF 1px solid;
    text-align: center;
    height: 180px;
    overflow: scroll;
}

#playlist ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#playlist ol li {
    padding: 2px;
}
#tips {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "modenine";
    font-size: 13px;
    border: #AAF 1px solid;
    text-align: center;
}
#tips ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#tips ul li {
    padding: 0;
    margin: 0;
}
#tips p {
	font-size: 7px;
    border: rgb(170, 231, 255) 1px solid;
}
